<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="secondaryemailaddress" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Secondary Email Address Login</label>
                <field id="login_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login Mode</label>
                    <source_model>Elgentos\SecondaryEmailAddress\Model\Config\Source\LoginMode</source_model>
                </field>
                <field id="login_attribute" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login Attribute</label>
                    <comment>Customer attribute which is used for customer login.</comment>
                </field>
                <field id="login_attribute_label" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login Attribute Label</label>
                    <comment>Label which is used as label for the email field in customer login.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
